* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.inline-block {
    display: inline-block;
}

.header {
    background-color: #DDD0C8;
    display: block;
    text-align: center;
    padding-bottom: 1%;
}
.header::after {
    display: inline-block;
    width: 100%;
}

.header a {
    text-decoration: none;
}

.header a h1 {
    color: #323232;
    font-size: 60px;
    padding-left: 3%;
}

.header a h1 span{
    color: rgb(255, 255, 255);
}

.verticalUL  li {
    padding: 10px 30px;
    display: inline-block;
}

.header ul li  a { 
    color: #323232;
    font-weight: 400;
    font-size: 40px;
}

@keyframes hoverHeaderLi {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.header ul li:hover {
    animation-name: hoverHeaderLi;
    animation-duration: 0.5s;
    transform: scale(1.2);
}

.header ul li  a:hover { 
    color: #ffffff;
}

.header-icon {
    height: 30px;
    transform: scale(2.5);
}
#here {
    color: white;
}





.imgWithText {
    position: relative;
    text-align: center;
}

.backgroundImg1 {
   width: 100%;  
   opacity: 0.5;
   display: inline-block;
   z-index: 0;
}
@keyframes blurImg1 {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.textOverImg1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(221, 208, 200);
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%; 
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    color: white;
    z-index: 1;
    display: inline-block;
    max-height: 100px;
}

.textOverImg1:hover {
    background-color: rgba(221, 208, 200, 80%);
    color: #323232;
    
}
.textOverImg1:hover + img {
    animation-name: blurImg1;
    animation-duration: 1s;
    opacity: 1;
}




.buyingSubscription {
    text-align: center;
    display: block; 
}

.buyingSubscription ul {
    margin: 10px;
}

.buyingSubscription ul button {
    color: #323232;
    background-color: #DDD0C8;
    border-radius: 100px;
    border: solid #323232;
    min-width: 200px;
    min-height: 100px;
}

.buyingSubscription ul button {
    color: #323232;
}

.buyingSubscription ul button h1 {
    color: white;
}

.buyingSubscription ul button:hover {
    color: white;
    background-color: #323232;
    animation-name: hoverBtn1;
    animation-duration: 0.3s;
    transform: scale(1.05);
}

@keyframes hoverBtn1 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

.textAndImg1 {
    text-align: center;
}

.textAndImgIndex1 {
    margin-top: 5%;
    margin-bottom: 7%;
}

.textAndImgIndex2 {
    margin-top: 1%;
    margin-bottom: 7%;
}

.textAndImgImg1 {
    display: inline-block;
    vertical-align: middle;

    width: 300px;
    margin: 10px;
}

.textAndImgText1 {
    display: inline-block;
    vertical-align: middle;
}

html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}

footer {
    background-color: #DDD0C8;
    text-align: center;
    padding: 26px;
}

footer ul li a {
    color: #323232;
    font-size: 20px;
}
/* 
////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////
*/

.filters {
    margin: 24px 10px 11px 10px;
}

.searchForm1 {
    display: inline-block;
}

.searchForm1 input{
    border: #323232 solid;
    background-color: rgba(221, 208, 200, 40%);
    border-radius: 10px;
    color: #323232;
    font-size: medium;
    font-weight: 700;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
}

.searchForm1 a img {
    height: 14px;
}

@keyframes hoverSearchBtn1 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2.1);
    }
}

.searchForm1 a img:hover {
    animation-duration: 0.3s;
    animation-name: hoverSearchBtn1;
    transform: scale(2.1);
}

.filterSettingsButton {
    float: right;
    display: inline-block;
    width: 40px;
}

.filterSettingsButton {
    float: right;
    display: inline-block;
    background-color: rgba(221, 208, 200, 0%);
    border: none;
}
.filterSettingsButtonImg {
    width: 40px;
}

.filterSettingsButtonImg:hover {
    content: url("icons/ThreeLines2.png");
}

.filterSettingsButton:focus > .filterSettingsButtonImg {
    content: url("icons/ThreeLines2.png");
}

@keyframes showFilter1 {
    from {
        transform: scaleY(-0.5%);
    }
    to {
        transform: scaleY(1);
    }
}
.filterSettingsButton:focus + .hiddenFilterSettings {
    display: block;
    animation-duration: 0.6s;
    animation-name: showFilter1;
    transform: scaleY(1);
}

.hiddenFilterSettings {
    display: none;
    text-align: center;
}

.hiddenFilterSettings:hover {
    display: block;
}

.arrowLeft1 {
    width: 20px;
    float: right;
    padding-left: 10px;
}
.filterSettingsButton1 {
    background-color: rgba(221, 208, 200, 0%);
    border: none;
}

.filterSettingsButton1:focus + .hiddenFilterSettings {
    display: block;
    animation-duration: 0.6s;
    animation-name: showFilter1;
    transform: scaleY(1);
}

@keyframes rotateArrow1 {
    from {
        transform: rotate(0) translateX(0);
    }
    to {
        transform: rotate(-90deg) translateX(-20%);
    }
}

.filterSettingsButton1:focus > .arrowLeft1 {
    content: url("icons/Arrowleft1.png");
    animation-duration: 0.3s;
    animation-name: rotateArrow1;
    transform: rotate(-90deg) translateX(-20%);
}

.filterSettingsButton1:hover > .arrowLeft1 {
    content: url("icons/Arrowleft1.png");
}

.filterSettingsButton1:hover {
    color: #DDD0C8;
}

.filterSettingsPadding {
    padding-top: 10px;
}

.backgroundImg2 {
    position: relative;
    width: 300px;
    height: 400px;
}

.ImgOverImg2 {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    opacity: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.ImgOverImg2 img {
    width: 200px;
}

@keyframes showPlay1 {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.backgroundImg2:hover > .ImgOverImg2 {
    animation-duration: 0.8s;
    animation-name: showPlay1;
    opacity: 100%;
}

.backgroundImg2 + h2 {
    width: 300px;
}

.films li {
    margin-bottom: 100px;
}

.films li h2 {
    position: absolute;
}

.films li span {
    font-size: medium;
}

.aboutUsPage {
    text-align: left;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 30px;
}